{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compueterhubuk | Reset Password</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>  
  
  <div class="new-password-container">
    <h2>Set Your Password</h2>
    <form action="{% url 'set_forgot_password' id %}" method="post">
      {% csrf_token %}
      <ul>
          {% if messages %}
              {% for message in messages %}
                  <li class="{{ message.tags }}">{{ message }}</li>  
              {% endfor %}
          {% endif %}
      </ul>
      <div class="input-group">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
    <div class="input-group">
      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirm_password" required>
    </div>
      <button type="submit" class="new-password-btn">Set Password</button>
    </form>
  </div>
  
</body>
</html>

