{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firststore | Forgot Password</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>  
   
  <div class="forgot-password-container">
    <h2>OTP Verification</h2>
    <form action="{% url 'verify_otp_code' id  %}" method="post">
      {% csrf_token %}
      <ul>
          {% if messages %}
              {% for message in messages %}
                  <li class="{{ message.tags }}">{{ message }}</li>  
              {% endfor %}
          {% endif %}
      </ul>
      <div class="input-group">
        <label for="otp">Enter the OTP sent to your email:</label>
        <input type="text" id="otp" name="otp" required>
      </div>
      <button type="submit" class="btn">Verify OTP</button>
    </form>

  </div>

</body>
</html>

