.container {
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}


.section-container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
}

.card {
    border-radius: 8px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 15px;
    font-weight: 600;
}
